VERSIONING_SYSTEM = apple-generic
VERSION_INFO_PREFIX = MO
CURRENT_PROJECT_VERSION = 203
DYLIB_CURRENT_VERSION = 203
DYLIB_COMPATIBILITY_VERSION = 1

WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas

OTHER_CFLAGS_common = 
OTHER_CFLAGS_debug = $(OTHER_CFLAGS_common) -DMO_DEBUG -UMO_BLOCK_ASSERTS
OTHER_CFLAGS_normal = $(OTHER_CFLAGS_common)
OTHER_CFLAGS_profile = $(OTHER_CFLAGS_common) -pg

OTHER_LDFLAGS = -headerpad_max_install_names

GCC_PREFIX_HEADER = MOKit/MOKitPrefix.h
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_USE_GCC3_PFE_SUPPORT = YES
GCC_PFE_FILE_C_DIALECTS = objective-c c

ZERO_LINK = NO
PREBINDING = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO

MACOSX_DEPLOYMENT_TARGET = 10.4
