<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<array>
    <array>
        <string>abc</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>abc</string>
        <string>xbc</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>abc</string>
        <string>axc</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>abc</string>
        <string>abx</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>abc</string>
        <string>xabcy</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>abc</string>
        <string>ababc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>ab*c</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>ab*bc</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>ab*bc</string>
        <string>abbc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abbc</string>
    </array>
    <array>
        <string>ab*bc</string>
        <string>abbbbc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abbbbc</string>
    </array>
    <array>
        <string>ab+bc</string>
        <string>abbc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abbc</string>
    </array>
    <array>
        <string>ab+bc</string>
        <string>abc</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>ab+bc</string>
        <string>abq</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>ab+bc</string>
        <string>abbbbc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abbbbc</string>
    </array>
    <array>
        <string>ab?bc</string>
        <string>abbc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abbc</string>
    </array>
    <array>
        <string>ab?bc</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>ab?bc</string>
        <string>abbbbc</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>ab?c</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>^abc$</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>^abc$</string>
        <string>abcc</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>^abc</string>
        <string>abcc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>^abc$</string>
        <string>aabc</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>abc$</string>
        <string>aabc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>^</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string></string>
    </array>
    <array>
        <string>$</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string></string>
    </array>
    <array>
        <string>a.c</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>a.c</string>
        <string>axc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>axc</string>
    </array>
    <array>
        <string>a.*c</string>
        <string>axyzc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>axyzc</string>
    </array>
    <array>
        <string>a.*c</string>
        <string>axyzd</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a[bc]d</string>
        <string>abc</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a[bc]d</string>
        <string>abd</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abd</string>
    </array>
    <array>
        <string>a[b-d]e</string>
        <string>abd</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a[b-d]e</string>
        <string>ace</string>
        <string>y</string>
        <string>&amp;</string>
        <string>ace</string>
    </array>
    <array>
        <string>a[b-d]</string>
        <string>aac</string>
        <string>y</string>
        <string>&amp;</string>
        <string>ac</string>
    </array>
    <array>
        <string>a[-b]</string>
        <string>a-</string>
        <string>y</string>
        <string>&amp;</string>
        <string>a-</string>
    </array>
    <array>
        <string>a[b-]</string>
        <string>a-</string>
        <string>y</string>
        <string>&amp;</string>
        <string>a-</string>
    </array>
    <array>
        <string>[k]</string>
        <string>ab</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a[b-a]</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a[]b</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a[</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a]</string>
        <string>a]</string>
        <string>y</string>
        <string>&amp;</string>
        <string>a]</string>
    </array>
    <array>
        <string>a[]]b</string>
        <string>a]b</string>
        <string>y</string>
        <string>&amp;</string>
        <string>a]b</string>
    </array>
    <array>
        <string>a[^bc]d</string>
        <string>aed</string>
        <string>y</string>
        <string>&amp;</string>
        <string>aed</string>
    </array>
    <array>
        <string>a[^bc]d</string>
        <string>abd</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a[^-b]c</string>
        <string>adc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>adc</string>
    </array>
    <array>
        <string>a[^-b]c</string>
        <string>a-c</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a[^]b]c</string>
        <string>a]c</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a[^]b]c</string>
        <string>adc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>adc</string>
    </array>
    <array>
        <string>ab|cd</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>ab</string>
    </array>
    <array>
        <string>ab|cd</string>
        <string>abcd</string>
        <string>y</string>
        <string>&amp;</string>
        <string>ab</string>
    </array>
    <array>
        <string>()ef</string>
        <string>def</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>ef-</string>
    </array>
    <array>
        <string>()*</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
                <string>EXPECTED FAILURE</string>
    </array>
    <array>
        <string>*a</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>^*</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>$*</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>(*)b</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>$b</string>
        <string>b</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a\</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a\(b</string>
        <string>a(b</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>a(b-</string>
    </array>
    <array>
        <string>a\(*b</string>
        <string>ab</string>
        <string>y</string>
        <string>&amp;</string>
        <string>ab</string>
    </array>
    <array>
        <string>a\(*b</string>
        <string>a((b</string>
        <string>y</string>
        <string>&amp;</string>
        <string>a((b</string>
    </array>
    <array>
        <string>a\\b</string>
        <string>a\b</string>
        <string>y</string>
        <string>&amp;</string>
        <string>a\b</string>
    </array>
    <array>
        <string>abc)</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>(abc</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>((a))</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;-\1-\2</string>
        <string>a-a-a</string>
    </array>
    <array>
        <string>(a)b(c)</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;-\1-\2</string>
        <string>abc-a-c</string>
    </array>
    <array>
        <string>a+b+c</string>
        <string>aabbabc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>a**</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>(a*)*</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
                <string>EXPECTED FAILURE</string>
    </array>
    <array>
        <string>(a*)+</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
                <string>EXPECTED FAILURE</string>
    </array>
    <array>
        <string>(a|)*</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
                <string>EXPECTED FAILURE</string>
    </array>
    <array>
        <string>(a*|b)*</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
                <string>EXPECTED FAILURE</string>
    </array>
    <array>
        <string>(a+|b)*</string>
        <string>ab</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>ab-b</string>
    </array>
    <array>
        <string>(a+|b)+</string>
        <string>ab</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>ab-b</string>
    </array>
    <array>
        <string>(a+|b)?</string>
        <string>ab</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>a-a</string>
    </array>
    <array>
        <string>[^ab]*</string>
        <string>cde</string>
        <string>y</string>
        <string>&amp;</string>
        <string>cde</string>
    </array>
    <array>
        <string>(^)*</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
                <string>EXPECTED FAILURE</string>
    </array>
    <array>
        <string>(ab|)*</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
                <string>EXPECTED FAILURE</string>
    </array>
    <array>
        <string>)(</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string></string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string></string>
    </array>
    <array>
        <string>abc</string>
        <string></string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>a*</string>
        <string></string>
        <string>y</string>
        <string>&amp;</string>
        <string></string>
    </array>
    <array>
        <string>abcd</string>
        <string>abcd</string>
        <string>y</string>
        <string>&amp;-\&amp;-\\&amp;</string>
        <string>abcd-&amp;-\abcd</string>
    </array>
    <array>
        <string>a(bc)d</string>
        <string>abcd</string>
        <string>y</string>
        <string>\1-\\1-\\\1</string>
        <string>bc-\1-\bc</string>
    </array>
    <array>
        <string>([abc])*d</string>
        <string>abbbcd</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>abbbcd-c</string>
    </array>
    <array>
        <string>([abc])*bcd</string>
        <string>abcd</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>abcd-a</string>
    </array>
    <array>
        <string>a|b|c|d|e</string>
        <string>e</string>
        <string>y</string>
        <string>&amp;</string>
        <string>e</string>
    </array>
    <array>
        <string>(a|b|c|d|e)f</string>
        <string>ef</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>ef-e</string>
    </array>
    <array>
        <string>((a*|b))*</string>
        <string>-</string>
        <string>c</string>
        <string>-</string>
        <string>-</string>
                <string>EXPECTED FAILURE</string>
    </array>
    <array>
        <string>abcd*efg</string>
        <string>abcdefg</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abcdefg</string>
    </array>
    <array>
        <string>ab*</string>
        <string>xabyabbbz</string>
        <string>y</string>
        <string>&amp;</string>
        <string>ab</string>
    </array>
    <array>
        <string>ab*</string>
        <string>xayabbbz</string>
        <string>y</string>
        <string>&amp;</string>
        <string>a</string>
    </array>
    <array>
        <string>(ab|cd)e</string>
        <string>abcde</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>cde-cd</string>
    </array>
    <array>
        <string>[abhgefdc]ij</string>
        <string>hij</string>
        <string>y</string>
        <string>&amp;</string>
        <string>hij</string>
    </array>
    <array>
        <string>^(ab|cd)e</string>
        <string>abcde</string>
        <string>n</string>
        <string>x\1y</string>
        <string>xy</string>
    </array>
    <array>
        <string>(abc|)ef</string>
        <string>abcdef</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>ef-</string>
    </array>
    <array>
        <string>(a|b)c*d</string>
        <string>abcd</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>bcd-b</string>
    </array>
    <array>
        <string>(ab|ab*)bc</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>abc-a</string>
    </array>
    <array>
        <string>a([bc]*)c*</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>abc-bc</string>
    </array>
    <array>
        <string>a([bc]*)(c*d)</string>
        <string>abcd</string>
        <string>y</string>
        <string>&amp;-\1-\2</string>
        <string>abcd-bc-d</string>
    </array>
    <array>
        <string>a([bc]+)(c*d)</string>
        <string>abcd</string>
        <string>y</string>
        <string>&amp;-\1-\2</string>
        <string>abcd-bc-d</string>
    </array>
    <array>
        <string>a([bc]*)(c+d)</string>
        <string>abcd</string>
        <string>y</string>
        <string>&amp;-\1-\2</string>
        <string>abcd-b-cd</string>
    </array>
    <array>
        <string>a[bcd]*dcdcde</string>
        <string>adcdcde</string>
        <string>y</string>
        <string>&amp;</string>
        <string>adcdcde</string>
    </array>
    <array>
        <string>a[bcd]+dcdcde</string>
        <string>adcdcde</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>(ab|a)b*c</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>abc-ab</string>
    </array>
    <array>
        <string>((a)(b)c)(d)</string>
        <string>abcd</string>
        <string>y</string>
        <string>\1-\2-\3-\4</string>
        <string>abc-a-b-d</string>
    </array>
    <array>
        <string>[ -~]*</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>[ -~ -~]*</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>[ -~ -~ -~]*</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>[ -~ -~ -~ -~]*</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>[ -~ -~ -~ -~ -~]*</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>[ -~ -~ -~ -~ -~ -~]*</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>[ -~ -~ -~ -~ -~ -~ -~]*</string>
        <string>abc</string>
        <string>y</string>
        <string>&amp;</string>
        <string>abc</string>
    </array>
    <array>
        <string>[a-zA-Z_][a-zA-Z0-9_]*</string>
        <string>alpha</string>
        <string>y</string>
        <string>&amp;</string>
        <string>alpha</string>
    </array>
    <array>
        <string>^a(bc+|b[eh])g|.h$</string>
        <string>abh</string>
        <string>y</string>
        <string>&amp;-\1</string>
        <string>bh-</string>
    </array>
    <array>
        <string>(bc+d$|ef*g.|h?i(j|k))</string>
        <string>effgz</string>
        <string>y</string>
        <string>&amp;-\1-\2</string>
        <string>effgz-effgz-</string>
    </array>
    <array>
        <string>(bc+d$|ef*g.|h?i(j|k))</string>
        <string>ij</string>
        <string>y</string>
        <string>&amp;-\1-\2</string>
        <string>ij-ij-j</string>
    </array>
    <array>
        <string>(bc+d$|ef*g.|h?i(j|k))</string>
        <string>effg</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>(bc+d$|ef*g.|h?i(j|k))</string>
        <string>bcdd</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>(bc+d$|ef*g.|h?i(j|k))</string>
        <string>reffgz</string>
        <string>y</string>
        <string>&amp;-\1-\2</string>
        <string>effgz-effgz-</string>
    </array>
    <array>
        <string>(((((((((a)))))))))</string>
        <string>a</string>
        <string>y</string>
        <string>&amp;</string>
        <string>a</string>
    </array>
    <array>
        <string>multiple words of text</string>
        <string>uh-uh</string>
        <string>n</string>
        <string>-</string>
        <string>-</string>
    </array>
    <array>
        <string>multiple words</string>
        <string>multiple words, yeah</string>
        <string>y</string>
        <string>&amp;</string>
        <string>multiple words</string>
    </array>
    <array>
        <string>(.*)c(.*)</string>
        <string>abcde</string>
        <string>y</string>
        <string>&amp;-\1-\2</string>
        <string>abcde-ab-de</string>
    </array>
    <array>
        <string>\((.*), (.*)\)</string>
        <string>(a, b)</string>
        <string>y</string>
        <string>(\2, \1)</string>
        <string>(b, a)</string>
    </array>
</array>
</plist>
